<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emotions</key>
	<array>
		<dict>
			<key>icon</key>
			<string>E056</string>
			<key>value</key>
			<string>[微笑]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E057</string>
			<key>value</key>
			<string>[哈哈]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E40A</string>
			<key>value</key>
			<string>[是的]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E40D</string>
			<key>value</key>
			<string>[Duang]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E105</string>
			<key>value</key>
			<string>[鬼脸]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E106</string>
			<key>value</key>
			<string>[爱你]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E107</string>
			<key>value</key>
			<string>[恐怖]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E108</string>
			<key>value</key>
			<string>[略晕]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E404</string>
			<key>value</key>
			<string>[嘻嘻]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E416</string>
			<key>value</key>
			<string>[不高兴]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E418</string>
			<key>value</key>
			<string>[亲亲]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E40B</string>
			<key>value</key>
			<string>[不是吧]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E411</string>
			<key>value</key>
			<string>[大哭]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E40E</string>
			<key>value</key>
			<string>[切]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E059</string>
			<key>value</key>
			<string>[你妹]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E00E</string>
			<key>value</key>
			<string>[赞]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E421</string>
			<key>value</key>
			<string>[鄙视]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E420</string>
			<key>value</key>
			<string>[OK]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E011</string>
			<key>value</key>
			<string>[胜利]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E00D</string>
			<key>value</key>
			<string>[拳]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chat_btnDelEmotion</string>
			<key>value</key>
			<string>del</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E010</string>
			<key>value</key>
			<string>[发誓]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E04A</string>
			<key>value</key>
			<string>[太阳]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E04C</string>
			<key>value</key>
			<string>[月亮]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E335</string>
			<key>value</key>
			<string>[星]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E00A</string>
			<key>value</key>
			<string>[手机]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E02B</string>
			<key>value</key>
			<string>[时间]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E03C</string>
			<key>value</key>
			<string>[唱歌]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E03E</string>
			<key>value</key>
			<string>[音乐]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E31E</string>
			<key>value</key>
			<string>[按摩]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E41D</string>
			<key>value</key>
			<string>[祝福]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E42C</string>
			<key>value</key>
			<string>[台球]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E42D</string>
			<key>value</key>
			<string>[游泳]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E045</string>
			<key>value</key>
			<string>[咖啡]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E50C</string>
			<key>value</key>
			<string>[米国]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E113</string>
			<key>value</key>
			<string>[枪]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E131</string>
			<key>value</key>
			<string>[奖杯]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E132</string>
			<key>value</key>
			<string>[终点]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E134</string>
			<key>value</key>
			<string>[马]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E136</string>
			<key>value</key>
			<string>[自行车]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E312</string>
			<key>value</key>
			<string>[庆祝]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chat_btnDelEmotion</string>
			<key>value</key>
			<string>del</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E428</string>
			<key>value</key>
			<string>[在一起]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E429</string>
			<key>value</key>
			<string>[跳舞]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E11D</string>
			<key>value</key>
			<string>[火]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E13C</string>
			<key>value</key>
			<string>[呼呼]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E13D</string>
			<key>value</key>
			<string>[闪电]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E11C</string>
			<key>value</key>
			<string>[骷髅]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E11B</string>
			<key>value</key>
			<string>[幽灵]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E10B</string>
			<key>value</key>
			<string>[猪]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E05A</string>
			<key>value</key>
			<string>[屎]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E04F</string>
			<key>value</key>
			<string>[猫]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E52E</string>
			<key>value</key>
			<string>[鸡]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E023</string>
			<key>value</key>
			<string>[心碎]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E30D</string>
			<key>value</key>
			<string>[祝]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E30F</string>
			<key>value</key>
			<string>[药]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E41C</string>
			<key>value</key>
			<string>[么么]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E130</string>
			<key>value</key>
			<string>[靶心]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E329</string>
			<key>value</key>
			<string>[穿心]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E021</string>
			<key>value</key>
			<string>[叹号]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E332</string>
			<key>value</key>
			<string>[对]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E333</string>
			<key>value</key>
			<string>[错]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chat_btnDelEmotion</string>
			<key>value</key>
			<string>del</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E334</string>
			<key>value</key>
			<string>[怒]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E419</string>
			<key>value</key>
			<string>[眼睛]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E443</string>
			<key>value</key>
			<string>[盘起来]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E10F</string>
			<key>value</key>
			<string>[灯泡]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E12B</string>
			<key>value</key>
			<string>[外星人]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E12D</string>
			<key>value</key>
			<string>[中]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E14A</string>
			<key>value</key>
			<string>[股票]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E016</string>
			<key>value</key>
			<string>[棒球]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E034</string>
			<key>value</key>
			<string>[戒指]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E154</string>
			<key>value</key>
			<string>[ATM]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E207</string>
			<key>value</key>
			<string>[18禁]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E305</string>
			<key>value</key>
			<string>[向日葵]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E308</string>
			<key>value</key>
			<string>[仙人掌]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E315</string>
			<key>value</key>
			<string>[秘]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E33A</string>
			<key>value</key>
			<string>[冰激淋]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E047</string>
			<key>value</key>
			<string>[啤酒]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E33E</string>
			<key>value</key>
			<string>[饭]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E338</string>
			<key>value</key>
			<string>[汤]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E340</string>
			<key>value</key>
			<string>[面]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E348</string>
			<key>value</key>
			<string>[西瓜]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chat_btnDelEmotion</string>
			<key>value</key>
			<string>del</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E349</string>
			<key>value</key>
			<string>[苹果]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E522</string>
			<key>value</key>
			<string>[鱼]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E526</string>
			<key>value</key>
			<string>[象]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E531</string>
			<key>value</key>
			<string>[蛙]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E01C</string>
			<key>value</key>
			<string>[帆船]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E01D</string>
			<key>value</key>
			<string>[飞机]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E01F</string>
			<key>value</key>
			<string>[轻轨]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E431</string>
			<key>value</key>
			<string>[急救车]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E433</string>
			<key>value</key>
			<string>[过山车]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E434</string>
			<key>value</key>
			<string>[地铁]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E435</string>
			<key>value</key>
			<string>[高铁]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E10D</string>
			<key>value</key>
			<string>[火箭]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E10E</string>
			<key>value</key>
			<string>[王冠]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E036</string>
			<key>value</key>
			<string>[房]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E03F</string>
			<key>value</key>
			<string>[钥匙]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E144</string>
			<key>value</key>
			<string>[锁]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E145</string>
			<key>value</key>
			<string>[解锁]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E208</string>
			<key>value</key>
			<string>[禁烟]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E228</string>
			<key>value</key>
			<string>[艹]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>E311</string>
			<key>value</key>
			<string>[炸弹]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chat_btnDelEmotion</string>
			<key>value</key>
			<string>del</string>
		</dict>
	</array>
	<key>SmallEmotionTab</key>
	<array>
		<dict>
			<key>name</key>
			<string>经典</string>
			<key>icon</key>
			<string></string>
			<key>value</key>
			<string>classic</string>
		</dict>
	</array>
	<key>SmallEmotionTabTODO</key>
	<array>
		<dict>
			<key>name</key>
			<string>最近</string>
			<key>icon</key>
			<string></string>
			<key>value</key>
			<string>recently</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大表情</string>
			<key>icon</key>
			<string></string>
			<key>value</key>
			<string>big</string>
		</dict>
	</array>
	<key>BigEmotionTab</key>
	<array/>
</dict>
</plist>
