<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cell</key>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>indentifier</key>
			<string>Text</string>
		</dict>
	</array>
	<key>ChatFunction</key>
	<array>
		<dict>
			<key>name</key>
			<string>照片</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_IMAGE</string>
			<key>value</key>
			<real>0</real>
		</dict>
		<dict>
			<key>name</key>
			<string>拍摄</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_PHOTO</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>视频聊天</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_ONLINEVIDEO</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>位置</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_LOCATION</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>红包</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_REDENVELOPE</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小视频</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_SIGHT</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>举报</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_REPORT</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>个人名片</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_MYCARD</string>
			<key>value</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>收藏</string>
			<key>icon</key>
			<string>CHAT_FUNCTION_COLLECT</string>
			<key>value</key>
			<integer>8</integer>
		</dict>
	</array>
</dict>
</plist>
